Body {
    background-color: mediumvioletred;
}


h1 {
    font-family: cursive;
    color: darkred;    
}

p {
    font-family: fantasy;
    color: hotpink;
}

#header {
    padding: 20px;
    border: 1px red solid;
    margin: 30px;
    background-color: 
        palevioletred;
}

#bodycopy {
    padding: 5px;
    border: 2px red solid;
    margin: 10px;
    background-color: purple;
}

.orange {
    color:orange;
}














